
body {
  background-size: cover; 
  background: rgba(206,188,155,1);
  background: -moz-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206,188,155,1)), color-stop(51%, rgba(85,63,50,1)), color-stop(100%, rgba(42,31,25,1)));
  background: -webkit-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: linear-gradient(135deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  font-weight : 200; 
  border: none; 
  letter-spacing: 2px !important; 
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.4)), url("./background.png");  */
    background-attachment: fixed; 
    height: 120vh; 
}

h1 {
    font-weight : 200; 
}

.sticky {
  position: fixed;
  top: 0; 
  left: 0; 
}

a:hover {
  text-decoration: none ; 
}

p {
  letter-spacing: 1px; 
}


/*---   -----*/
.sticky {
  position: fixed; 
  width: 100%; 
}

.non-sticky { 
  background-color: transparent !important;
}



