

.main-con {
    margin: 150px 20px; 
}


.con, .con2 {
    display: grid;  
    grid-template-columns: repeat(2, minmax(250px, 1fr)); 
    grid-gap: 20px; 
    color: white; 
    padding: 0; 
    margin: 0; 
    margin-top: 50px; 

}

.con2 {
    grid-template-columns: 2fr 1fr; 
}

.con-item {
    box-shadow: 0px 0px 20px black ; 
    display: grid; 
    grid-template-rows: auto auto 1fr; 
    grid-gap: 20px;
    justify-items: center; 
    padding-top: 15px; 
    height: auto !important; 
}


.img {
    width: 70%;
    display: grid; 
    grid-template-rows: 1fr; 
    place-items: center; 
    margin-bottom: 10px; 
}
img {
    width: 100%; 
    transition: 0.5s;
    display: inline-block; 
    max-width: 220px; 
}

img:hover {
    transform: scale(1.3); 
}
.pTeam {
    max-width: 70%; 
    margin-top: 0; 
    margin-bottom: 15px; 
    transition: 0.3s;
}

.pTeam:hover {
    transform: scale(1.2); 
    box-shadow: 0px 0px 10px black; 
}

.h{
    font-weight: 300; 
    margin-bottom: 0; 
    align-self: center; 
    transition: 0.2s; 
}
.h:hover { transform : scale(1.2)}


.c1 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(auto-fit, 1fr); 
    grid-gap: 20px;  
    place-items: center; 
    padding-bottom: 30px; 
    overflow: hidden; 
    position: relative; 
}


.img1 {
    display: grid; 
    justify-items: center; 
    width: 90%; 
    grid-gap: 20px; 
    grid-template-rows: 1fr; 
}

.c2 {
    padding-bottom: 30px; 
}

.team-title {
    color: white; 
    text-align: center; 
    font-size: 100px; 
    font-weight: 400;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}